

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal.open {
    display: block;
}

.modal img {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.modal-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.modal-close:hover,
.modal-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.gallery {
    background-image: url('img/background1.png');
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    gap: 16px;
    padding: 16px;
}

.pics {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 10px 10px 20px #a600f030, -10px -10px 20px rgb(152 39 157 / 13%);
    transition: transform 0.3s;
}

.pics img {
    width: 100%;
    height: auto;
    display: block;
}

.pics:hover {
    transform: scale(1.05);
    opacity: .8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}
.nine {
    text-align:center; 
    font-size:50px; 
    text-transform:uppercase; 
    color:#222; 
    letter-spacing:1px;
    font-family:"Playfair Display", serif; 
    font-weight:400;
    padding: 20px;
    margin-top: 25px;

  }
  .nine span {
    margin-top: 5px;
      font-size:18px; 
      color:#8500beba; word-spacing:1px; 
      font-weight:normal; 
      letter-spacing:2px;
      text-transform: uppercase;
      font-weight:600;
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-template-rows: 27px 0;
      grid-gap: 20px;
      align-items: center;
  }
  
  .nine span:after,.nine span:before {
      content: " ";
      display: block;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc;
      height: 5px;
    background-color:#f8f8f8;
  }
  

  .twelve {
    font-family:"Raleway", sans-serif; font-weight:600;
  }
  
